@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary: #121212;
  --gray: #B4B4B4;
  --background: #F7F7F7;
}

.dark-mode{
  --primary: #F7F7F7;
  --background: #121212;
}

@layer base{
}

*{
  font-size: 14px;
  transition: color .2s, background-color 0.2s; /* Basic transition animation when changing light and dark mode */
}

.nuxt-icon {
  width: inherit !important;
  height: inherit !important;
}