@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary: #121212;
  --gray: #B4B4B4;
  --background: #F7F7F7;
  overscroll-behavior: none;
}

.dark-mode{
  --primary: #F7F7F7;
  --background: #121212;
}

@font-face {
  font-family: 'Sohne';
  src: url('/fonts/TestSöhne-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*{
  transition: color .2s, background-color 0.2s; /* Basic transition animation when changing light and dark mode */
}

html{
  background-color: var(--background);
}

p, div, h1, h2, h3, h4, h5, h6, a{
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: var(--primary);
  font-family: "Sohne", sans-serif;
}

.nuxt-icon {
  width: inherit !important;
  height: inherit !important;
}